@media (max-width: 1220px) {
  .welcome-page {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 1036px) {
  .header__menu_link {
    font-size: 12px;
    line-height: 15px;
  }

  .link__item {
    font-size: 12px;
    line-height: 15px;
  }
}

@media (max-width: 960px) {
  .car {
    background-position-x: -50px;
  }
}

@media (max-width: 856px) {
  .header__menu_link {
    display: none;
  }

  .link__img {
    margin-left: auto;
  }

  .welcome-page {
    justify-content: center;
  }

  .welcome-page__1 {
    margin-right: 25px;
  }

  .welcome-page__button {
    margin-right: 15px;
  }

  .link-none {
    display: none;
  }

  .welcome-page__block {
    width: 50%;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .header {
    box-sizing: border-box;
    padding: 24px 33px 0 15px;
  }

  .header__menu {
    display: none;
  }

  .link-none {
    display: none;
  }

  .link__img {
    width: 35.23px;
    height: 22.02px;
    margin-left: auto;
    margin-right: 0;
  }

  .car__title {
    margin-top: 80px;
  }

  .car__subtitle {
    position: relative;
    bottom: 10px;
    padding-left: 16px;
  }

  .car {
    background-size: 109%;
    background-position: 15% 50%;
  }

  .car__tsl {
    width: 91%;
    position: relative;
    left: 10px;
    top: 65px;
  }

  .welcome-page {
    margin-top: 104px;
    display: block;
  }

  .welcome-page__block {
    width: auto;
  }

  .welcome-page__1 {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .welcome-page__button-image {
    background-image: url(../IMG/red.jpg);
    width: 30px;
    height: 30px;
  }

  .welcome-page__section {
    margin-left: 0;
    margin-right: 68px;
  }

  .welcome-page__speed-sec {
    font-size: 50px;
    line-height: 61px;
  }

  .welcome-page__driver-max {
    font-size: 50px;
    line-height: 61px;
  }

  .welcome-page__speed-car {
    width: 120%;
    padding: 18px 0 0 10px;
  }

  .discrip-mob {
    margin-top: 2px;
    margin-left: 38px;
  }

  .discrip-sek {
    padding-left: 5px;
    margin-bottom: 10px;
    position: relative;
    bottom: 8px;
  }

  .welcome-page__drive_img {
    margin-right: 14px;
    margin-top: 10px;
  }

  .km {
    position: relative;
    bottom: 7px;
    left: 6px;
  }

  .welcome-page__driver-go {
    margin-top: -2px;
  }

  .welcome-page__2 {
    margin-top: 39px;
    width: auto;
    justify-content: center;
    margin-left: 24px;
  }

  .welcome-page__test-drive {
    font-size: 16px;
    line-height: 20px;
    color: #e51937;
    margin-left: 15px;
    margin-top: 3px;
  }

  .welcome-page__footer-btn {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    background: #e51937;
  }

  .welcome-page__footer {
    background: #e51937;
    border: 0;
    height: 55.21px;
    margin-right: 0;
  }

  .welcome-page__button {
    margin-top: 2%;
    margin-right: 35px;
  }

  .arrow {
    margin-top: 63px;
  }
}

@media (max-width: 600px) {
  .welcome-page__footer {
    margin-right: 3%;
  }

  .welcome-page__button {
    margin-left: 3%;
  }

  .welcome-page__block {
    margin-left: 3%;
  }
}

@media (max-width: 520px) {
  .welcome-page__speed-sec {
    font-size: 30px;
  }

  .welcome-page__driver-max {
    font-size: 30px;
  }

  .discrip-mob {
    margin-left: 20px;
  }

  .welcome-page__block {
    margin-left: 0;
  }

  .discrip-sek {
    bottom: 0;
  }

  .km {
    bottom: 0;
  }
}

@media (max-width: 404px) {
  .welcome-page__section {
    margin-right: 24px;
  }
}

@media (max-width: 375px) {
  .header {
    margin: 5px 21px 0 2px;
    padding: 0;
  }

  .header__img {
    width: 84%;
  }

  .link__img {
    height: 50%;
    width: 45%;

  }

  .car__title {
    font-size: 50px;
    line-height: 61px;
    margin-top: 30px;
  }

  .car__subtitle {
    font-size: 10px;
    line-height: 12px;
    position: relative;
    bottom: 2px;
    padding-left: 2px;
  }

  .car {
    background-size: 113%;
    background-position: 30% 70%;
  }

  .car__tsl {
    width: 95%;
    position: relative;
    left: 1px;
    top: 40px;
  }

  .welcome-page__speed-sec {
    font-size: 27px;
    line-height: 33px;
  }

  span {
    font-size: 15px;
    line-height: 18px;
  }

  .welcome-page__speed-km {
    font-size: 10px;
    line-height: 12px;
  }

  .welcome-page__driver-go {
    font-size: 10px;
    line-height: 12px;
    margin-top: 0;
  }

  .welcome-page__driver-max {
    font-size: 27px;
    line-height: 33px;
    padding-right: 18px;
  }

  .welcome-page {
    margin-top: 65px;
  }

  .welcome-page__2 {
    margin-left: 0;
    margin-top: 45px;
  }

  .welcome-page__speed-car {
    width: 84%;
    padding-top: 8px;
    padding-left: 2px;
  }

  .discrip-mob {
    margin-top: 0;
    margin-left: 3px;
  }

  .discrip-sek {
    position: static;
    padding-left: 4px;
  }

  .welcome-page__drive_img {
    display: block;
    margin-top: 0;
    width: 55%;
    margin-right: 0;
    padding: 2px 0 0 1px;
    position: relative;
    left: 7px;
  }

  .km {
    position: relative;
    bottom: 0;
    left: 3px;
  }

  .welcome-page__test-drive {
    font-size: 13px;
    line-height: 16px;
    margin-left: 10px;
  }

  .welcome-page__button-image {
    margin-bottom: 4px;
    margin-right: 0;
    width: 22px;
    height: 22px;
  }

  .welcome-page__footer-btn {
    font-size: 13px;
    line-height: 16px;
  }

  .welcome-page__button {
    margin-top: 0;
    margin-left: 0;
    margin-right: 25px;
  }

  .welcome-page__footer {
    margin-top: 0;
    margin-right: 0;
    width: 160px;
    height: 40px;
  }

  .arrow {
    margin-top: 29px;
    margin-left: 4px;
  }
}

@media (max-width: 1360px) {
  .aside__footer {
    padding-right: 26px;
  }
}

@media (max-width: 1290px) {
  .aside {
    padding-left: 26px;
  }
}

@media (max-width: 1222px) {
  .aside__title {
    font-size: 24px;
  }

  .aside__footer a {
    font-size: 11px;
  }
}

@media (max-width: 1136px) {
  .aside__volum {
    margin-bottom: 81px;
  }

  .aside__functions {
    padding-right: 20px;
  }

  .aside__footer-button {
    width: 125px;
  }

  .aside__text {
    font-size: 12px;
  }
}

@media (max-width: 1015px) {
  .main {
    display: block;
  }

  .main-bg {
    height: 775px;
  }

  .aside {
    padding-top: 55px;
    margin-top: 0;
  }

  .aside__title {
    margin-top: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
  }

  .wrapp__aside {
    display: flex;
    justify-content: space-between;
  }

  .wrapp__aside-title {
    margin-left: 34px;
    width: 45%;
  }

  .aside__text {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
  }

  .aside__footer {
    justify-content: center;
  }

  .aside__footer-btn {
    margin-right: 36.5px;
  }

  .wrapp__aside-content {
    width: 49%;
  }
}

@media (max-width: 768px) {
  .main__title {
    margin-top: 66.5px;
    text-align: right;
    margin-right: 48px;
  }

  .main-bg {
    background-image: url(../IMG/main-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 495px;
  }

  .aside {
    padding-top: 50px;
    padding-left: 0;
    padding-bottom: 52px;
  }

  .aside__text {
    margin-top: 25px;
    padding-right: 43px;
  }

  .wrapp__aside-content {
    width: 41%;
    margin-top: 12px;
  }

  .aside__display {
    margin-bottom: 28px;
  }

  .aside__volum {
    margin-bottom: 70px;
  }

  .aside__footer a {
    font-size: 16px;
    line-height: 20px;
  }

  .aside__footer-img {
    width: 33px;
    height: 33px;
  }

  .aside__footer-button {
    width: 221px;
    padding-top: 15px;
    height: 55px;
  }

  .aside__footer-btn {
    margin-right: 40.5px;
  }

  .aside__footer {
    padding-right: 0;
  }
}

@media (max-width: 560px) {
  .wrapp__aside-content {
    margin-right: 10px;
  }
}

@media (max-width: 536px) {
  .wrapp__aside-content {
    display: none;
  }

  .aside__footer {
    display: none;
  }

  .wrapp__aside-title {
    margin-left: 30px;
    width: 100%;
  }

  .aside {
    padding-bottom: 0;
  }
}

@media (max-width: 444px) {
  .main__title {
    display: none;
  }

  .main-bg {
    height: 337px;
  }
}

@media (max-width: 375px) {
  .main-bg {
    background-image: url(../IMG/little-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 329px;
  }

  .aside {
    padding-top: 18px;
  }

  .aside__text {
    margin-top: 12px;
    margin-bottom: 34px;
  }
}

@media (max-width: 1424px) {
  .aside__footer-btn {
    margin-right: 14px;
  }
}

@media (max-width: 1400px) {
  .aside__footer-btn {
    margin-right: 10px;
  }
}

@media (max-width: 1376px) {
  .inner-aside {
    padding: 51px 40px 60px 40px;
  }
}

@media (max-width: 1365px) {
  .stars {
    padding: 0;
  }

  .wrapper-stars {
    padding: 0 15px 0 15px;
  }

  .stars__img {
    margin-left: 6%;
  }
}

@media (max-width: 1320px) {
  .star-group {
    margin-left: 5px;
  }
}

@media (max-width: 1276px) {
  .inner-aside {
    padding: 51px 20px 60px 20px;
  }

  .star {
    padding-left: 1px;
  }
}

@media (max-width: 1200px) {
  .star {
    padding-right: 1px;
  }

  .section__aside-title {
    font-size: 25px;
    text-align: left;
  }

  .bg-block {
    height: 126px;
  }

  .content__title {
    font-size: 25px;
  }

  .section__aside-text {
    padding: 0;
  }

  .section__inner-info {
    padding: 0 8% 6% 0;
  }

  .srars-info {
    margin-bottom: 13%;
  }

  .aside-stars__footer {
    padding-right: 0;
  }
}

@media (max-width: 1144px) {
  .wrapper-stars {
    padding: 0;
  }
}

@media (max-width: 1076px) {
  .block__img {
    width: 100%;
  }

  .stars__img {
    margin-left: 0;
  }

  .bg-block {
    width: 92%;
    right: 10px;
  }

  .inner-aside {
    padding: 23px 20px 23px 20px;
  }

  .block {
    left: -17px;
  }

  .logo-school {
    right: 13px;
    bottom: -32%;
  }

  .star__item {
    font-size: 14px;
  }

  .star__item span {
    left: 53px;
  }
}

@media (max-width: 1023px) {
  .aside__footer-btn {
    margin-right: 0;
  }
}

@media (max-width: 1015px) {
  .aside__footer-btn {
    margin-right: 10px;
  }

  .section {
    display: flex;
    flex-flow: wrap;
  }

  .block {
    order: 1;
    background-size: 60% 20%;
    margin-top: 5%;
  }

  .logo-school {
    display: none;
  }

  .section__aside {
    order: 2;
    max-width: 100%;
  }

  .section__aside-title {
    margin-top: 2%;
    text-align: center;
  }

  .section__inner-info {
    text-align: center;
    padding: 1% 25% 6% 25%;
  }

  .stars__img {
    margin-right: 3%;
  }

  .stars {
    justify-content: center;
  }

  .srars-info {
    margin-bottom: 5%;
  }

  .aside-stars__footer {
    padding-bottom: 4%;
  }

  .block__img {
    width: 100%;
    right: 3%;
    top: 3%;
  }

  .bg-block {
    height: 29%;
    width: 84%;
    right: 50px;
  }
}

@media (max-width: 768px) {
  .aside__footer-btn {
    margin-right: 7%;
  }

  .block {
    padding-bottom: 5%;
    margin-top: 8%;
    background-position-x: center;
    background-size: 75% 27%;
  }

  .stars {
    display: none;
  }

  .inner-aside {
    display: flex;
    justify-content: space-between;
    margin-top: 8.2%;
    margin-bottom: 6.1%;
  }

  .section__inner-info {
    padding: 0;
    width: 50%;
  }

  .section__aside-main {
    width: 50%;
    padding-left: 4%;
    padding-right: 1%;
  }

  .section__aside-title {
    margin-top: 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
  }

  .content__title {
    margin-top: 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    padding-right: 10%;
    margin-bottom: 1%;
  }

  .star {
    padding: 0 14% 0 9%;
  }

  .star__item {
    line-height: 39px;
  }

  .aside-stars__footer {
    padding-bottom: 9%;
  }

  .bg-block {
    width: 80%;
    top: -1%;
    height: 25%;
  }
}

@media (max-width: 741px) {
  .section__aside-main {
    padding-left: 0;
    padding-right: 0;
  }

}

@media (max-width: 700px) {
  .inner-aside {
    display: block;
    text-align: left;
  }

  .section__inner-info {
    padding: 0;
    width: 100%;
  }

  .section__aside-main {
    width: 100%;
    padding-right: 5%;
  }

  .section__aside-title {
    padding-left: 15px;
  }
}

@media (max-width: 536px) {
  .section__inner-info {
    display: none;
  }

  .section__aside-title {
    padding-left: 0;
    text-align: left;
  }
}

@media (max-width: 396px) {
  .section__aside-main {
    padding: 0;
  }
}

@media (max-width: 375px) {
  .inner-aside {
    margin-top: 2%;
    margin-bottom: 0;
  }

  .section__aside-title {
    padding-right: 10px;
  }

  .section__aside-text {
    margin-top: 6%;
  }

  .section__aside-main {
    margin-bottom: 17%;
  }

  .block {
    padding-bottom: 7%;
    margin-top: 12%;
    background-position-x: left;
    background-size: 100% 29%;
  }

  .bg-block {
    width: 100%;
    top: -7px;
    height: 32%;
    left: 17px;
  }
}
