* {
  box-sizing: border-box;
}

.body {
  margin: 0 auto;
  max-width: 1440px;
  font-family: "Montserrat", sans-serif;
  color: #000;
}

.header {
  margin: 1.7% 3.8% 0 2.8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__img {
  display: block;
}

.header__menu_link {
  padding-bottom: 5px;
  display: block;
  color: #000;
  margin-left: 3%;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  line-height: 18px;
  transition: all .2s;
  transition-property: color, text-decoration;
}

.header__menu_link:hover {
  color: #e51937;
  border-bottom: 2px solid red;
}

.header__menu {
  display: flex;
  justify-content: space-around;
}

.header__menu_link-red {
  padding-bottom: 5px;
  color: #e51937;
  border-bottom: 2px solid red;
  text-underline-position: under;
  transition-duration: .2s;
}

.header__menu_link-red:hover {
  font-size: 20px;
}

.bloks-2 {
  width: 39%;
}

.bloks-3 {
  width: 15%;
}

.link__item {
  padding-bottom: 5px;
  display: block;
  margin-left: 3%;
  transition-duration: .2s, .2s;
  transition-property: color, text-decoration;
}

.link__item:hover {
  color: #e51937;
  border-bottom: 2px solid red;
  cursor: pointer;
}

.link__img {
  width: 24px;
  height: 15px;
  padding-bottom: 0;
  transition-duration: .5s, .5s;
  transition-property: widht, height;
}

.link__img:hover {
  width: 28px;
  height: 19px;
  cursor: pointer;
}

.link {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}

.car__title {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 90px;
  line-height: 110px;
  margin-bottom: 0;
  margin-top: 60px;
}

.car__subtitle {
  position: relative;
  bottom: 11px;
  text-align: center;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 1%;
}

.car {
  background: url('../IMG/Tesla-Wordmark-Red.png') no-repeat top center;
  margin-bottom: 2.3%;
  background-size: auto 80%;
}

.car__tsl {
  display: block;
  margin: 0 auto;
  position: relative;
  right: 2%;
  width: 67%;
}

.welcome-page {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-left: 15%;
  margin-right: 15%;
}

.welcome-page__1 {
  display: flex;
  justify-content: space-between;
  width: 41%;
}

.welcome-page__2 {
  display: flex;
  justify-content: space-between;
  width: 33%;
}

.welcome-page__block {
  display: flex;
  margin-left: 3.1%;
}

.welcome-page__driver {
  margin-right: 4%;
}

.discrip {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.welcome-page__speed-sec {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
}

span {
  font-size: 20px;
  line-height: 24px;
  font-style: normal;
  font-weight: 600;
}

.welcome-page__speed-km {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.welcome-page__speed-car {
  padding: 13% 11% 0 0;
}

.welcome-page__driver_img {
  margin-top: 10px;
  margin-right: 9px;
  width: 89%;
}

.welcome-page__driver-max {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
  padding-right: 8px;
}

.welcome-page__driver-go {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.welcome-page__button-image {
  width: 22px;
  height: 22px;
  background-image: url(../IMG/black.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-page__button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.welcome-page__button:hover > .welcome-page__button-image {
  background-image: url(../IMG/red.jpg);
}

.welcome-page__test-drive {
  margin-left: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  white-space: nowrap;
}

.welcome-page__button:hover > .welcome-page__test-drive {
  color: #e51937;
  cursor: pointer;
}

.welcome-page__footer {
  margin-top: 10px;
}

.welcome-page__footer-btn {
  border: 2px solid #e51937;
  padding: 12px 41px;
  display: block;
  text-decoration: none;
  color: #e51937;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  background: white;
  text-transform: uppercase;
  transition-duration: .5s, .5s;
  transition-property: background, color;
}

.welcome-page__footer-btn:hover {
  font-size: 15px;
  background-color: red;
  color: white;
}

.arrow {
  text-align: center;
  margin-top: 24px;
}

.main {
  display: grid;
  grid-template-columns: 69.5% 30.5%;
}

.main-bg {
  background-image: url(../IMG/tesla-bg.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: auto 90%;
}

.main__title {
  font-style: normal;
  font-size: 70px;
  line-height: 85px;
  color: #e51937;
  margin-left: 80px;
  margin-top: 98px;
  font-weight: 600;
}

.aside {
  background-color: #e51937;
  color: #fff;
  margin-top: 31px;
  padding-top: 14px;
  padding-bottom: 57px;
  padding-left: 48px;
}

.aside__title {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: -4px;
}

.aside__text {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 71px;
  padding-right: 77px;
}

.aside__display {
  display: flex;
  justify-content: left;
  margin-bottom: 43px;
}

.aside__display_text {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
  margin-top: -8px;
}

.aside__display_img {
  margin-right: 19px;
}

.aside-text__span {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  font-style: normal;
}

.aside__display_span {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.aside__functions {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 25px;
  padding-right: 40px;
}

.aside__functions-img {
  display: block;
  margin-right: 19px;
  width: 44px;
  height: 34px;
}

.aside__functions-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
}

.aside__span {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.aside__volum {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 173px;
}

.aside__volum-img {
  height: 52px;
  margin-left: 4px;
  margin-right: 24px;
  margin-top: 2px;
}

.aside__volum-text {
  font-weight: 600;
  font-style: normal;
  font-size: 35px;
  line-height: 43px;
}

.aside__volum-span {
  display: block;
  width: 127px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.aside__footer {
  display: flex;
  justify-content: space-between;
  padding-right: 46px;
  align-items: center;
}

.aside__footer a {
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.aside__footer-button {
  border: 2px solid #fff;
  width: 160px;
  height: 40px;
  padding-top: 9px;
  transition: all 0.3s;
  background-color: #e51937;
}

.aside__footer-button:hover {
  background-color: #fff;
  color: #e51937;
}

.aside__footer-btn {
  display: flex;
  align-items: center;
  transition: all 0.3s;
  justify-content: left;
  margin-right: 22px;
  margin-left: -5px;
}

.aside__footer-btn:hover {
  margin-top: 3px;
}

.aside__footer-img {
  margin-right: 4px;
}

.aside__footer-i {
  display: inline-block;
}

.section {
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.section__aside {
  background-color: #e51937;
  max-width: 31%;
  color: #fff;
  z-index: 1;
}

.section__aside-title {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.section__aside-text {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.content__title {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.star__item {
  list-style: none;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 37px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.star-span {
  position: relative;
}

.star__item span {
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-size: 9px;
  line-height: 12px;
  text-transform: uppercase;
  left: 66px;
  top: 10px;
}

.star {
  padding-left: 12px;
  padding-right: 26px;
}

.wrapper-stars {
  padding-top: 23%;
}

.stars {
  display: flex;
  justify-content: center;
  padding: 0;
}

.aside-stars__footer {
  padding-right: 0;
  padding-bottom: 15%;
  justify-content: center;
}

.srars-info {
  margin-bottom: 16%;
}

.stars__text {
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 50px;
}

.stars__desc {
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 30px;
}

.stars__img {
  width: 62px;
  height: 74px;
  margin-right: 5%;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -75px;
}

.block__img {
  z-index: 10;
  right: 40px;
  top: 280px;
  width: 106%;
}

.inner-aside {
  padding: 51px 55px 60px 56px;
}

.bg-block {
  position: absolute;
  top: -49px;
  right: -75px;
  z-index: 0;
  width: 75%;
  height: 150px;
}

.logo-school {
  position: absolute;
  bottom: -121px;
  right: -64px;
}
