
.body {
  max-width: 1440px;
  background: white;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  color: #000;
  box-sizing: border-box;
}

.header {
  margin: 24px 60px 0 42.72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__img {
  display: block;
}

.header__menu_link {
  display: block;
  color: #000;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  line-height: 18px;
}

.header__menu {
  display: flex;
  justify-content: space-around;
}

.header__menu_link-red {
  color: #e51937;
  text-decoration: underline;
  text-underline-position: under;
}

.bloks-1 {
  flex-grow: .05;
}

.bloks-2 {
flex-grow: .35;
}

.bloks-3 {
  flex-grow: .03;
}

.link__item{
  display: block;
}

.link {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}

.car__title {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 90px;
  margin-top: 64px;
  margin-bottom: 0;

}
.car__subtitle {
  text-align: center;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  margin-top: 0;
  }
